/.gradle/8.13/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/8.13/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.13/fileHashes/resourceHashesCache.bin
/.gradle/8.13/checksums/sha1-checksums.bin
